<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div id="poll-form">
			<h1 class="center"><%= @poll.body %></h1>
			<%= form_for [@poll, @poll_response] do %>
				<%= hidden_field_tag "authenticity-token", form_authenticity_token %><!--added for Tsung to get CSRF var-->
				<% @poll.poll_choices.each do |pc| %>
					<div class="input-group">
				      <span class="input-group-addon">
				        <%= radio_button_tag("poll_choice_id", pc.id, pc.body) %>
				      </span>
				      <%= label_tag "poll_choice_id_#{pc.id}", pc.body, class: "form-control" %>
				    </div><!-- /input-group -->
				<% end %>
			 	<%= submit_tag "Submit", class: "btn btn-primary full-width" %>
			<% end %>
		</div>
	</div>
</div>